<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<body>
<table>
  <tr>
      <td><label for="id">id</label></td>
      <td><input id="id" type="text"><input type="button" value="중복확인" onclick="duplicateCheck()"></td>
  </tr>
    <tr>
        <td><label for="password">pw</label></td>
        <td><input id="password" type="password"></td>
    </tr>
    <tr>
        <td><label for="password_confirm">pw-confirm</label></td>
        <td><input id="password_confirm" type="password"></td>
    </tr>
    <tr>
        <td><label for="email">email</label></td>
        <td><input id="email" type="email"/></td>
    </tr>
    <tr>
        <td><label for="name">name</label></td>
        <td><input id="name" type="text"/></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" value="join" onclick="join()">
            <a href="/login">로그인창으로</a>

        </td>
    </tr>
</table>
<script>
    class joinProcess {
        constructor() {
            this.duplicate = false;
            this.id = false;
            this.pw = false;
            this.email = false;
            this.name = false;
            this.pw_confirm = false;
        }

        userInfo(){
            return {
                user_id: this.id,
                user_pw: this.pw,
                email: this.email,
                name: this.name
            }
        }

        checkDuplicate(){

            if(this.duplicate){
                return true
            } else {
                alert('ID 중복체크를 해주세요')
                return false
            }
        }
        checkId(){
            this.id = ($('#id').val() !== '')
            if(this.id){
                return true
            } else {
                alert('아이디를 입력해주세요')
                return false
            }
        }
        checkEmail(){
            this.email = ($('#email').val() !== '')
            if(this.email){
                return true
            } else {
                alert('email 을 입력해주세요')
                return false
            }
        }
        checkPw(){
            this.pw = ($('#password').val() !== '')
            if(this.pw){
                return true
            } else {
                alert('비밀번호를 입력해주세요')
                return false
            }
        }
        checkName(){
            this.name = ($('#name').val() !== '')
            if(this.name){
                return true
            } else {
                alert('이름을 입력 해주세요')
                return false
            }
        }
        checkPwConfirm(){
            this.pw_confirm = ($('#password').val() === $('#password_confirm').val())
            if(this.pw_confirm){
                return true
            } else {
                alert('비밀번호 확인을 해주세요')
                return false
            }
        }

        joinProcessResult(){
            if(!this.checkId()){return}
            if(!this.checkDuplicate()){return}
            if(!this.checkPw()){return}
            if(!this.checkPwConfirm()){return}
            if(!this.checkEmail()){return}
            if(!this.checkName()){return}
            return true
            // if(this.duplicate
            //     && this.email
            //     && this.id
            //     && this.name
            //     && this.pw
            //     && this.pw_confirm){
            //     return true
            // } else {
            //     return false
            // }
        }
    }

    const joinValidation = new joinProcess();



    const duplicateCheck =()=>{
        let userId = $('#id').val();

        $.ajax({
            url : 'duplicate-check?userId='+userId,
            type : 'get',
            // data : JSON.stringify(param),
            // dataType : 'json',
            // contentType: 'application/json',
            success : (data)=>{
                console.log(data)
                if(data.errorCode === "0001"){
                    alert('사용가능한 ID입니다.');
                    joinValidation.duplicate = true
                } else if(data.errorCode === "9998") {
                    alert('중복된 ID 입니다.')
                    joinValidation.duplicate = false
                }
            },
            error : (e)=>{console.log(e)}
        })
    }




  const join =()=>{

    if(!joinValidation.joinProcessResult()){
        return
    }

    $.ajax({
      url : '/join',
      method : 'post',
      data : JSON.stringify(joinValidation.userInfo()),
      dataType : 'json',
      contentType : 'application/json',
      success : (data)=>{
        console.log(data);
        if(data.errorCode === "0000"){
            alert('회원가입이 완료됬습니다.');
            location.href='/login';
        } else {
            alert('회원가입이 불가합니다.');
        }
      },
      error : (e)=>{

      }
    });
  }

</script>


</body>
</html>