<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<body>
<table>
  <tr>
    <td><label for="user_id">id</label></td>
    <td><input id="user_id" type="text"/></td>
  </tr>
  <tr>
    <td><label for="user_password">pw</label></td>
    <td><input id="user_password" type="password"/></td>
  </tr>
  <tr>
    <td></td>
    <td>
      <input type="button" value="login" onclick="login()"/>
      <a href="/">main</a>
      <a href="/join">join</a>
    </td>
  </tr>
</table>
<script>
  const login =()=>{
    let params = {
      user_id : $('#user_id').val(),
      user_pw : $('#user_password').val()
    }
    console.log(params);

    $.ajax({
      url : '/login',
      method : 'post',
      data : JSON.stringify(params),
      dataType : 'json',
      contentType : 'application/json',
      success : (data)=>{
        console.log(data)
        if(data.errorCode === '0000') {
          location.href='/'
        } else if (data.errorCode === '9997') {
          alert(data.errorMessage)
        }
      },
      error : (e)=>{

      }
    });
  }

</script>


</body>
</html>